@font-face {
    font-family: 'helveticaneuecyrlight';
    src: font-url('helveticaneuecyr-light-webfont.eot');
    src: font-url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         font-url('helveticaneuecyr-light-webfont.woff') format('woff'),
         font-url('helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aero_matics_displayregular';
    src: font-url('aero_matics_display_regular-webfont.eot');
    src: font-url('aero_matics_display_regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('aero_matics_display_regular-webfont.woff2') format('woff2'),
         font-url('aero_matics_display_regular-webfont.woff') format('woff'),
         font-url('aero_matics_display_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@mixin hl($size: 1em) {
  font-family: 'helveticaneuecyrlight', Helvetica, Arial, sans-serif;
  font-size: $size;
}
@mixin ar($size: 1em) {
  font-family: 'aero_matics_displayregular', Helvetica, Arial, sans-serif;
  font-size: $size;
}
