@import "compass/css3";
@import "reset.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "slick.scss";
@import "slick-theme.scss";
$red: #ee0800;
$gold: #8f643d;
$grey: #58595b;
$bgWrappersCount: 3;
@mixin before-noise {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url('index/noise.png');
}
@for $i from 1 through $bgWrappersCount {
  .bg-wrapper-#{$i} {
    background:image-url('index/bg-wrapper-#{$i}.jpg') 50% 0 no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      @include before-noise;
    }
    > * {
      z-index: 1;
      position: relative;
    }
  }
}
%black-noise {
  background: image-url('index/black-noise.jpg') 0 0 repeat;
}
%transparent-btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include transition(border-color 0.3s, color 0.3s);
  @include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 150%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    @include transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0));
    @include transition(all 0.3s);
    @include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
    @include transform-origin(0%, 100%);
  }
  &:hover {
    &:before {
      opacity: 1;
      @include transform(rotate3d(0, 0, 1, 0deg));
      @include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
    }
  }
}
@mixin background-btn($hover-color: #fff, $after-bg-color: #fff, $before-border-color: #fff, $disabled-color: #fff) {
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  &:after, &:before {
    content: '';
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    @include transition(transform 0.3s, opacity 0.3s);
    @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
  }
  &:after {
    background-color: $after-bg-color;
  }
  &:before {
    border: 2px solid $before-border-color;
    opacity: 0;
    @include transform(scale3d(1.2, 1.2, 1));
  }
  &:hover {
    color: $hover-color;
    &:after {
      opacity: 0;
      @include transform(scale3d(0.8, 0.8, 1));
    }
    &:before {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
  }
  &[disabled] {
    cursor: not-allowed;
    // background: #ccc;
    &:hover {
      color: $disabled-color;
      &:after {
        opacity: 1;
        @include transform(scale3d(1, 1, 1));
      }
      &:before {
        opacity: 0;
        @include transform(scale3d(1, 1, 1));
      }
    }
  }
}
%title {
  display: block;
  @include hl(1.75em);
  text-align: center;
  text-transform: uppercase;
  color: $red;
  padding-bottom: 45px;
}
%input {
  display: inline-block;
  width: 100%;
  border: 2px solid #fff;
  background: transparent;
  @include hl(1.5625em);
  color: #fff;
  line-height: 52px;
  text-align: center;
  @include input-placeholder {
    color: darken(#fff,10%);
  }
  &:focus {
    border-width: 4px;
    line-height: 48px;
  }
  &[disabled] {
    cursor: not-allowed;
    background: #ccc;
  }
}
%label-error {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  @include hl(.75em);
  color: #fff;
  background: $red;
  padding: 2px 0 6px;
}
.wrapper {
  @extend %wrapper;
}
.inner {
  @extend %inner;
}
.header {
  @extend %inner;
  height: 158px;
  &__logo {
    background: image-url('index/header-logo.jpg') 0 0 no-repeat;
    height: 100%;
    width: 148px;
  }
  &__contacts {
    float: right;
    width: 266px;
    margin-top: 20px;
    text-align: center;
    margin-right: 4px;
  }
  &__phone {
    display: inline-block;
    @include hl(1.54em);
    color: #fff;
  }
  &__callback-btn {
    background: transparent;
    border: 2px solid $red;
    margin-top: 11px;
    display: inline-block;
    width: 100%;
    color: #fff;
    @include hl(1.54em);
    line-height: 47px;
    @extend %transparent-btn;
    &:hover {
      color: $red;
    }
    &:before {
      background: #fff;
    }
  }
}
.scr-i {
  margin-top: 51px;
  width: 100%;
  @include clearfix;
  &__image-wrapper {
    background: #ecebee;
    border: 2px solid $red;
    width: 465px;
    height: 492px;
    text-align: center;
    float: left;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
  }
  &__title {
    display: block;
    @include hl(2.25em);
    color: #fff;
    margin-left: 487px;
    text-transform: uppercase;
    line-height: 1.1em;
  }
}
.scr-i-form {
  float: left;
  width: 687px;
  border: 2px solid $red;
  margin-left: 17px;
  margin-top: 33px;
  &__col {
    width: 283px;
    text-align: center;
    overflow: hidden;
    float: left;
    &--gift {
      @extend .scr-i-form__col;
      background: $red;
    }
    &--right {
      @extend .scr-i-form__col;
      width: 400px;
    }
  }
  &__gift-title {
    display: block;
    text-align: center;
    @include hl(1.875em);
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1em;
    margin-top: 15px;
  }
  &__gift-image {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 15px;
  }
  &__title {
    display: block;
    text-align: center;
    @include hl(1.75em);
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1em;
    margin-top: 30px;
  }
  &__input-wrapper {
    width: 354px;
    margin: 0 auto;
    position: relative;
    label.error {
      @extend %label-error;
    }
    input.error {
      border-color: $red;
    }
  }
  &__input {
    @extend %input;
    margin-top: 45px;

  }
  &__btn {
    display: inline-block;
    width: 354px;
    margin-top: 28px;
    @include hl(1.875em);
    // background: $red;
    border: 2px solid transparent;
    color: #fff;
    line-height: 56px;
    background: transparent;
    @include background-btn(#fff, $red, $red);

  }
}
.bg-wrapper-1 {
  padding-bottom: 210px;
}
.scr-ii {
  padding-top: 80px;
  padding-bottom: 117px;
  &__wrapper {
    @extend %black-noise;
  }
  &__title {
    @extend %title;
  }
}
.advantages {
  &__row {
    text-align: center;
    &--two-items {
      @extend .advantages__row;
      margin-top: -83px;
      margin-bottom: -83px;
    }
  }
}
.advantage {
  width: 315px;
  height: 364px;
  background: image-url('index/hexagon.svg') 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
  position: relative;
  &__title {
    @include hl(1.5em);
    color: $red;
    text-transform: uppercase;
    display: block;
    margin-top: 95px;
  }
  &__description {
    display: block;
    @include hl(1.5em);
    color: #fff;
    padding: 0 30px;
    position: absolute;
    top: 172px;
  }
}
.scr-iii {
  padding-top: 65px;
  padding-bottom: 145px;
  &__wrapper {
    background: image-url('index/noise.png') 0 0 repeat;
  }
  &__title {
    @extend %title;
    padding-bottom: 65px;
  }
}
.product-tabs {
  .tabs-nav {
    ul {
      li {
        display: inline-block;
        width: 50%;
        margin: 0 -1px;
        text-align: center;
        padding: 27px 32px 32px;
        cursor: pointer;
        &:hover {
          // background: #ecebef;
          span {
            background: $gold;
          }
        }
        &.tab-nav-1 {
          &:hover {
            // background: #ecebef;
            span {
              background: $red;
            }
          }
        }
        span {
          @include ar(2.2em);
          text-transform: uppercase;
          color: #fff;
          display: block;
          background: #57585a;
          line-height: 96px;
          width: 522px;
          display: inline-block;
          // margin: 0 auto;
        }
        &.active {
          background: #ecebef;
          span {
            background: $gold;
          }
          &.tab-nav-1 {
            span {
              background: $red;
            }
          }
        }
      }
    }
  }
  .tabs-content {
    ul {
      li {
        display: none;
        @include clearfix;
        background: #ecebef;
        min-height: 720px;
        .tab {
          &__left, &__right {
            width: 50%;
            float: left;
          }
          &__left {
            text-align: center;
            min-height: 720px;
            position: relative;
            img {
              display: inline-block;
              margin-top: 94px;
            }
            span {
              position: absolute;
              @include hl(1.75em);
              color: #fff;
              text-transform: uppercase;
              top: 403px;
              left: 363px;
            }
          }
          &__old-price {
            display: block;
            text-align: center;
            @include hl(2.1875em);
            color: $grey;
            padding-top: 23px;
            .number {
              text-decoration: line-through;
            }
            .currency {
              font-variant: small-caps;
              font-size: .8em;
            }
          }
          &__new-price {
            display: block;
            text-align: center;
            @include hl(4.8125em);
            color: $gold;
            padding-top: 15px;
            &--red {
              @extend .tab__new-price;
              color: $red;
              padding-top: 73px;
            }
            .currency {
              font-variant: small-caps;
              font-size: .7em;
            }
          }
          &__price-description {
            display: block;
            text-align: center;
            @include hl(1.75em);
            color: $grey;
            font-variant: small-caps;
          }
          &__form {
            margin-top: 46px;
          }
          &__input-wrapper {
            position: relative;
            width: 395px;
            margin: 0 auto 31px;
            label.error {
              @extend %label-error;
            }
          }
          &__input {
            @extend %input;
            border-color: $gold;
            background-color: #fff;
            color: $grey;
            @include input-placeholder {
              color: lighten($grey, 30%);
            }

            &--red {
              @extend .tab__input;
              border-color: red;
            }
            &.error {
              border-color: $red;
            }
          }
          &__btn {
            display: inline-block;
            width: 100%;
            @include hl(1.5em);
            border: 2px solid transparent;
            text-transform: uppercase;
            color: #fff;
            line-height: 80px;
            @include background-btn($gold, $gold, $gold);
            &--red {
              @extend .tab__btn;
              // border-color: $red;
              // background-color: $red;
              @include background-btn($red, $red, $red);
            }
          }
          &__prod-info {
            width: 302px;
            margin: 32px auto 0;
            border: 2px solid $gold;
            padding-top: 31px;
            padding-bottom: 45px;
            &--red {
              @extend .tab__prod-info;
              border-color: $red;
            }
          }
          &__prod-name {
            @include hl(1.5em);
            color: $gold;
            display: block;
            text-align: center;
            padding-bottom: 46px;
            &--red {
              @extend .tab__prod-name;
              color: $red;
            }
          }
          &__prod-characters {
            span {
              display: block;
              text-align: center;
              @include hl(.75em);
              padding-right: 10px;
              padding-left: 10px;
              color: $grey;
              &:last-child {
                padding-top: 15px;
              }
            }
          }
        }
        &.active {
          display: block;
          &.tab-content-1 {
            .tab__new-price {

            }
          }
        }

      }
    }
  }
}
.scr-iv {
  &__wrapper {
    border-top: 28px solid #fff;
    min-height: 412px;
  }
  &__title {
    @extend %title;
    background: #fff;
    padding: 20px 0;
    width: 850px;
    margin: 0 auto;
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: -54px;
      top: 0;
      border-right: 27px solid #fff;
      border-top: 49px solid #fff;
      border-left: 27px solid transparent;
      border-bottom: 47px solid transparent;
    }
    &:after {
      left: auto;
      right: -54px;
      border-left-color: #fff;
      border-right-color: transparent;
    }
  }
  &__new-post-logo {
    background: image-url('index/new-post.svg') 0 0 no-repeat;
    height: 130px;
    width: 692px;
    margin: 59px auto;
  }
}
.scr-v {
  padding-top: 45px;
  padding-bottom: 29px;
  &__wrapper {

  }
  &__title {
    @extend %title;
  }
}
.why {
  margin: 48px auto 30px;
  width: 959px;
  height: 656px;
  background: image-url('index/retard-bg.png') 0 0 no-repeat;
  position: relative;
  &__item {
    position: absolute;
    width: 200px;
    height: 200px;
    &--1 {
      @extend .why__item;
      top: 147px;
      left: 24px;
    }
    &--2 {
      @extend .why__item;
      top: 215px;
      left: 344px;
    }
    &--3 {
      @extend .why__item;
      top: 34px;
      left: 447px;
    }
    &--4 {
      @extend .why__item;
      top: 164px;
      left: 699px;
    }
    &-number {
      @include hl(4.8125em);
      color: $red;
      display: block;
      text-align: center;
      width: 92px;
      margin: 0 auto;
      border-bottom: 2px solid #adadad;
    }
    &-title {
      display: block;
      @include hl(1.5em);
      color: $grey;
      text-align: center;
      margin-top: 22px;
    }

  }
}
.scr-vi {
  padding-top: 90px;
  padding-bottom: 135px;
  text-align: center;
  &__wrapper {
    @extend %black-noise;
  }
  &__title {
    @extend %title;
  }
  &__btn {
    display: inline-block;
    background: transparent;
    width: 390px;
    border: 2px solid $red;
    color: #fff;
    @include hl(1.5em);
    padding: 10px 40px;
    @extend %transparent-btn;
    &:hover {
      color: $red;
    }
    &:before {
      background-color: #fff;
    }
  }
}
.scr-viii {
  padding-top: 50px;
  padding-bottom: 54px;
  &__wrapper {

  }
  &__title {
    @extend %title;
    color: #fff;
  }
}
.steps {
  width: 590px;
  height: 545px;
  background-color: rgba(#000, .48);
  margin: 0 auto;
  overflow: hidden;
}
.step {
  display: block;
  @include hl(1.5em);
  color: #fff;
  margin: 36px auto;
  width: 390px;
  line-height: 79px;
  border: 2px solid #fff;
  text-align: center;
  text-align: center;
  position: relative;
  &:after {
    content: '';
    display: block;
    border-right: 2px solid $red;
    border-bottom: 2px solid $red;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    bottom: -33px;
    @include transform(rotate(45deg) skew(-10deg,-10deg) translateX(-50%));
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.footer {
  &__1 {
    background: $red;
    position: relative;
    > * {
      position: relative;
      z-index: 1;
    }
    padding: 10px 0 18px;
    &:before {
      @include before-noise;
      top: 0;
      left: 0;
    }
  }
  &__logo {
    padding-left: 104px;
    float: left;
  }
  &__phone {
    float: left;
    @include hl(3em);
    color: #fff;
    line-height: 95px;
    float: left;
    margin-left: 272px;
  }
  &__btn {
    @extend .scr-vi__btn;
    border-color: #fff;
    font-size: 1.5em;
    float: right;
    height: 83px;
    margin-top: 8px;
    @extend %transparent-btn;
    &:hover {
      color: $red;
      // border-color: #fff;
    }
    &:before {
      background: #fff;
    }
  }
  &__2 {
    background: #000;
    text-align: center;
    padding: 10px 0;
  }
  &__copy {
    color: #fff;
    @include hl(.8em);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}
.scr-vii__wrapper {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    @include before-noise;
    top: 0;
    left: 0;
  }
}
.reviews {
  width: 803px;
  margin: 40px auto;
}
.review {
  width: 803px;
  padding: 32px 100px 30px;
  background: #ecebef;
  &__main-image-wrapper {
    float: left;
    width: 187px;
    text-align: right;
  }
  &__content {
    margin-left: 220px;
    @include hl(1.5em);
    color: #57585a;
  }
  &__name {
    display: inline-block;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  &__images {
    // text-align: center;
    margin-top: 24px;
    a {
      display: inline-block;
      margin: 0 10px;
      border: 2px solid #fff;
      margin-bottom: 5px;
      @include transition(all .15s ease-out);
      cursor: zoom-in;
      img {
        vertical-align: bottom;
      }
    }
    a:hover {
      border-color: $red;
      @include border-radius(2px);
      @include transform(scale(1.05));
    }
  }
}
#reviews {
  [class^="arrow"] {
    position: absolute;
    width: 68px;
    height: 220px;
    top: 50%;
    @include transform(translateY(-50%));
    cursor: pointer;
    z-index: 3;
    opacity: .8;
    background: none;
    border: none;
    span {
      display: block;
      position: absolute;
      height: 128px;
      width: 2px;
      background: $red;
    }
  }
  .arrow--next, .arrow--prev {
    span {
      left: 0;
      &:before {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        height: 20px;
        width: 2px;
        background: $red;
        right: 9px;
      }
    }
    span:first-child {
      top: 0;
      @include transform-origin(0, 0);
      @include transform(rotate(-30deg));
      &:before {
        bottom: 5px;
      }
    }
    span:last-child {
      bottom: 0;
      @include transform-origin(0, 100%);
      @include transform(rotate(30deg));
      &:before {
        top: 5px;
      }
    }
    &:hover {
      span {
        &:before {
          opacity: 1;
        }
      }
    }
    &:active {
      span {
        background: #000;
        &:before {
          background: #000;
        }
      }
    }
  }
  .arrow--prev {
    left: -125px;
    @include transform-origin(50%, 25%);
    @include transform(rotate(180deg));
  }
  .arrow--next {
    right: -125px;
  }
}
//Костыляем пидерский фэнсибокс
.fancybox-nav {
  z-index: 2;
}
@import "modals.scss";
