.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .4);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  @include transition(all .2s ease-out);
  &.active {
    visibility: visible;
    opacity: 1;
    .modal__wrapper {
      margin-top: -314px;// EDIT THIS! BISECT THE HEIGHT
    }
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 590px;// EDIT THIS!
    height: 628px;// EDIT THIS!
    margin-left: -295px;// EDIT THIS! BISECT THE WIDTH
    background: #fff;
    @include transition(all .2s ease-out);
    margin-top: -500px;
    border: 2px solid $red;
    @include box-shadow(0 10px 25px rgba(#000, .5));
  }
  &__close {
    position: absolute;
    width: 54px;
    height: 54px;
    display: block;
    border: 2px solid #000;
    color: #000;
    top: 19px;
    right: 19px;
    cursor: pointer;
    cursor: pointer;
    z-index: 3;
    // @include transition(border-color .15s ease-out);
    &:after, &:before {
      content: '';
      display: block;
      width: 54px;
      height: 2px;
      display: block;
      position: absolute;
      background: #000;
      @include transform-origin(50%, 50%);
      left: -1px;
      top: 25px;
    }
    &:after {
      @include transform(rotate(-45deg));
    }
    &:before {
      @include transform(rotate(45deg));
    }
    &:hover {
      border-color: $red;
      &:after, &:before {
        background: $red;
      }
    }
    &:active {
      background: $red;
      &:before, &:after {
        background: #fff;
      }
    }
  }
  &__inner {
    text-align: center;
  }
  &__title {
    display: block;
    color: $red;
    @include hl(2.25em);
    text-transform: uppercase;
    padding: 24px 120px 40px;
    text-align: center;
    line-height: 1.2em;
  }
  &__input-wrapper {
    width: 395px;
    margin: 0 auto 40px;
    position: relative;
    label.error {
      @extend %label-error;
    }
  }
  &__label {
    @include hl(1.5em);
    color: $grey;
    display: block;
    text-align: center;
    padding-bottom: 8px;
  }
  &__input {
    @extend %input;
    border-color: $red;
    color: $grey;
    @include input-placeholder {
      color: lighten($grey, 30%);
    }
  }
  &__btn {
    display: inline-block;
    width: 395px;
    @include hl(1.5em);
    border: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 80px;
    background: transparent;
    @include background-btn($red, $red, $red);
  }
}
